#Virtual env and config
.venv/
.idea/
*.pyc

#API Key
secret.py

#Images
*.jpg
*.png
*.webp

#Keep test images
!test_data/*
!test_floues_doublons/*
!test_data_copy/*
!TreeStructure/*

#CSV files
*.csv

# snapsort
snapsort/

