# Fichiers spécifiques à Visual Studio
*.vsidx
*.suo
*.pdb
.vs/

# Fichiers binaires et exécutables
*.exe

# Fichiers JSON (à vérifier si tu veux vraiment les exclure)
*.json

# Dossiers de build
**/bin/
**/obj/
DataDashboardApp/bin/Debug/
DataDashboardApp/obj/Debug/

